.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 9rem;
  padding: 1rem 6.5rem 1rem 5rem;

  .title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 4rem;
    margin-top: 5rem;
    color: #fff;
    border-bottom: 3px solid#FF5D00;
    padding-bottom: 1rem;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 9rem;
    padding: 1rem 6.5rem 1rem 5rem;
  
    .title {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 4rem;
      margin-top: 5rem;
      margin-left: 1.2rem;
      color: #fff;
      border-bottom: 3px solid#FF5D00;
      padding-bottom: 1rem;
    }
    
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 1.5rem;
    }
  }
}