.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  height: 50rem;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 7rem;
  
  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    height: 95rem;
  }

  span {
    color: #FF5D00;
  }

  .title {
    font-size: 2.5rem;
    // border-bottom: 3px solid #FF711F;
    align-self: center;
    letter-spacing: 0.10rem;
    font-weight: 500;
    margin-bottom: 3rem;
    // padding-bottom: 0.5rem;
    color: #fff;
    // bottom: 0.25rem;
    // border-radius: 5px;
    // border-bottom-left-radius: 5px;
    // border-bottom-right-radius: 5px;
    // width: 50%;
  }

  .p_white {
    font-size: 1.5rem;
    width: 50%;
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
      width: 80%;
    }
  }
  
  // .p_orange {
  //   font-size: 1.5rem;
  //   width: 55%;
  //   color: #FF5D00;
  // }

  .icons {
    margin-top: 3rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
      width: 100%;
      // position: fixed;
    }
    .tech {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: 500ms;
      &:hover {
        transition: 500ms;
        transform: scale3d(1.1, 1.1, 1);
      }
      span {
        font-size: 1rem;
      }
    }
  }
}