.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: start;
  // margin-top: 8rem;
  margin-bottom: 5rem;
  height: 40rem;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    // margin-top: 3rem;
    height: 45rem;
  }

  span {
    font-size: 2rem;
    width: 50%;
    line-height: 4rem;
    color: #FF5D00;
    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
      width: 70%;
      line-height: 2rem;
      font-size: 1.75rem;
    }
  }

  img {
    width: 8rem;
    height: 8rem;
    background-color: #FF5D00;
    border-radius: 50%;
  }

  .title {
    font-size: 3rem;

    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
      text-align: center;
      // align-self: center;
      width: 93%;
      font-size: 2.5rem;
    }
  }

  .info {
    font-size: 1.5rem;
    width: 50%;
    color: #fff;

    @media only screen 
    and (min-device-width: 375px) 
    and (max-device-width: 812px) 
    and (-webkit-min-device-pixel-ratio: 3) {
      width: 70%;
    }
  }
}
