.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  position: relative;

  .title {
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 7rem;
    color: #fff;
    border-bottom: 3px solid#FF5D00;
    padding-bottom: 1rem;
  }

  .icons {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    height: 5rem;
    margin-bottom: 5rem;
    .iconCont {
      width: 3rem;
      height: 3rem;
      background-color: #fff;
      border-radius: 50%;
      border: 5px solid #fff;
      cursor: pointer;
      transition: 500ms;
      &:hover {
        background-color: #FF5D00;
        transition: 500ms;
      }
      .icon {
        margin: 0.5rem 0rem 0rem 0.5rem;
        display: block;
        width: 2rem;
        height: 2rem;
      }
    }
  }

  .copy {
    font-size: 1em;
    color: #7C8097;
    margin-bottom: 5rem;
  }

  .up {
    width: 2rem;
    background-color: #fff;
    border-radius: 50%;
    border: 15px solid #fff;
    cursor: pointer;
    transition: 500ms;
    position: absolute;
    bottom: 2rem;
    &:hover {
      background-color: #FF5D00;
      border: 15px solid #FF5D00;
      transition: 500ms;
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40rem;
    position: relative;
  
    .title {
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 7rem;
      color: #fff;
      border-bottom: 3px solid#FF5D00;
      padding-bottom: 1rem;
    }
  
    .icons {
      display: flex;
      justify-content: space-evenly;
      width: 90%;
      height: 5rem;
      margin-bottom: 5rem;
      .iconCont {
        width: 3rem;
        height: 3rem;
        background-color: #fff;
        border-radius: 50%;
        border: 5px solid #fff;
        cursor: pointer;
        transition: 500ms;
        &:hover {
          background-color: #FF5D00;
          transition: 500ms;
        }
        .icon {
          margin: 0.5rem 0rem 0rem 0.5rem;
          display: block;
          width: 2rem;
          height: 2rem;
        }
      }
    }
  
    .copy {
      font-size: 1em;
      color: #7C8097;
      margin-bottom: 5rem;
    }
  
    .up {
      width: 2rem;
      background-color: #fff;
      border-radius: 50%;
      border: 15px solid #fff;
      cursor: pointer;
      transition: 500ms;
      position: absolute;
      bottom: 2rem;
      &:hover {
        background-color: #FF5D00;
        border: 15px solid #FF5D00;
        transition: 500ms;
      }
    }
  }
}