.container {
  position: fixed;
  height: 3rem;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #020528;

  .links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1.5rem;

    .selec {
      font-size: 1rem;
      font-weight: 600;
      color: #FF5D00;
      text-decoration: none;
      transform: scale3d(1.1, 1.1, 1);
    }
    .link {
      font-size: 1rem;
      font-weight: 600;
      color: #fff;
      text-decoration: none;
      transition: 500ms;
      &:hover {
        color: #FF5D00;
        transform: scale3d(1.1, 1.1, 1);
        transition: 500ms;
      }
    }
  }
}