@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400&display=swap');

body {
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  background-color: #020528;
  /* scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center; */
  /* width: 90%; */
}
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 812px) 
and (-webkit-min-device-pixel-ratio: 3) {
  body {
    max-width: 100%;
  }
  /* position: fixed; */
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #020528; 
}

::-webkit-scrollbar-thumb {
  background: #FF5D00; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
